In [25]:
import pandas as pd
import requests

In [26]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=[enter your api key here]&language=en-US&page=1')

In [27]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [28]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,153.643,8.706,26833
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,143.233,8.700,20367
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,110.712,8.600,12287
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,88.433,8.565,15691
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,62.312,8.545,8519

In [33]:
df = pd.DataFrame()
data_list = []

for i in range(1, 429):
    try:
        response = requests.get(f'https://api.themoviedb.org/3/movie/top_rated?api_key=[enter your api key here]&language=en-US&page={i}')
        response.raise_for_status()  # This will raise an error for bad responses (4xx, 5xx)
        temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
        data_list.append(temp_df)
    except requests.exceptions.RequestException as e:
        print(f"Request failed for page {i}: {e}")
        continue

if data_list:
    df = pd.concat(data_list, ignore_index=True)

In [36]:
df.shape

(8560, 7)

In [37]:
df.to_csv('movies.csv')